body{
    text-align: center;
    background-color: gray;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.wisdom{
    background-color:green;
    font-size: 15px;
  background-color: crimson;
  padding: 6px;
  border-radius: 10px;
  color: white;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border-radius: 10px;
letter-spacing: 6px;
}